.root {
    -fx-background: -fx-base;
    -fx-background-dark: rgb(43, 43, 48);

    -fx-accent: rgb(230, 241, 255);
    -fx-focus-color: rgb(55, 122, 224);
}

.dark {
    -fx-base: -fx-background-dark;
    -fx-background-color: -fx-background-dark;
}

.transparent-dark-background-opacity {
    -fx-background-color: rgba(43, 43, 48, 0.85);
}

.text-area {
    -fx-stroke-width: 1;
    -fx-background-color: snow;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.hoverableButton:hover {
    -fx-background-color: #ebebeb;
}

.hoverableButton {
    -fx-background-color: #F4F4F4;
}

.hoverableButton:pressed {
    -fx-background-color: #adadad;
}

.hyperlink {
    -fx-text-fill: #29618b !important;
}

.clickable-hyperlink {
    -fx-fill: rgb(55, 122, 224);
    -fx-padding: 0;
}

.clickable-hyperlink:hover {
    -fx-fill: rgb(61, 139, 255);
    -fx-underline: true;
}

.clickable-hyperlink:pressed {
    -fx-fill: rgb(40, 92, 168);
    -fx-underline: true;
}
